/*全体共通のcss*/

a {
  font-family: 'Avenir';
  color : #555;
}


h2{
  font-family: 'Avenir';
}

p{
  font-family: 'Avenir';
}


header{
  position: relative;
  margin-left:var(--marge-left);
  color: #000;
  background-color: #fff;
  font-size: 40px;
  color: #000;
  font-family:serif;
  width : 100%;
  height : 100px;
  border-bottom: solid 1px #000000;
}

#Name {
  color: #000;
  text-decoration: none;
  position: absolute;
  text-align:left;
  margin-left:var(--marge-left);
  margin-top:.7em;
}

#About{
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 0%;
  margin-right:30.0px;
  margin-top:.7em;
}
/*--------------------------------------------------*/
/*ページの左端のmargin*/
:root {
  --marge-left: 20px;
  --marge-bottom: 30px;
}

*{
  margin: 0px;
  padding: 0px;
}
.TopImage img{
  width : 720px;
  height : 480px;
  margin-left: var(--marge-left);
  object-fit: cover;
}

.Title h2{
  margin-left: var(--marge-left);
}

.Title h5{
  margin-left: var(--marge-left);
}

.Expression{
    margin-left: var(--marge-left);
}

.Movie{
  margin-left: var(--marge-left);
}

.Tools{
  margin-left: var(--marge-left);
}

.Tools h5{
  margin-top: var(--marge-bottom);
}

.Tools p{
  margin-bottom: var(--marge-bottom);
  font-family:serif;
}

.noMarginMovie{
  margin-top: 30px;
  margin-bottom: 30px;
}
.noMarginImg{
  width : 720px;
  height : 480px;
  margin-left:20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
  background-color: #fff;
}
